<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./component/head',{data:{title:'index page'}})%>
</head>

<body>
    <h3>forget password</h3>
    <form action="/resetPassword/<%=email%>" method="post">
        <input type="otp" name="otp">
        <input type="password" name="password" placeholder="enter your password">
        <input type="submit" value="submit">
    </form>
    <%- include('./component/footer')%>

</body>

</html>