<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewOne</title>
</head>

<body>
    <table>
        <% if(typeof(error)!="undefined" || (product&&product.error)){%>
            <tr>
                <td>rpoduc is not avalible</td>
                <td>
                    <%=product.error%>
                </td>
            </tr>
            <%}else{%>

                <tr>
                    <td>
                        name:<%=product.name%>
                    </td>
                </tr>
                <tr>
                    <td>
                         price:<%=product.price%>
                    </td>
                </tr>
                <tr>
                    <td>
                        description:<%=product.description%>
                    </td>
                </tr>

                <%}%>
    </table>




</body>

</html>